
WENDY_PORT=3456
WENDY_TOKEN=apahayo
WENDY_PLATFORM=TELEGRAM
WENDY_BOT_TOGGLE=1
WENDY_HEARTBEAT_TOGGLE=1

WENDY_ADMIN_ID=siapahayo

WENDY_SQL_TYPE=MYSQL
WENDY_SQL_USER=root
WENDY_SQL_PASSWORD=password
WENDY_SQL_HOST=127.0.0.1
WENDY_SQL_PORT=3307
WENDY_SQL_DATABASE=wendy
